
#slider {
  /*border: 1px solid red;*/
  position: relative;
  width: 1366px;
  height: 550px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  margin-top: 1px;
  margin: auto;
  position: relative;
  float: left;
}
#slider ul li img{
  width:100%;
  height: 100%;
}
 
#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

#brand>img{
  width: 75%;
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 200px;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}